.App {
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.delete {
  cursor: pointer;
  font-size: 18px;
  color: red;
}

input:checked + span {
  text-decoration: line-through;
}